h1 {
    color: rgb(35, 35, 117);
    text-align: center;
}

.navbar-brand {
    color: rgb(41, 41, 146);
    font-weight:700
}

footer{
    color: aliceblue;
    background-color: black;
    display: flex;
    justify-content: center;
    margin-top: 10vh;
}

h2{
    text-align: center;
}